<div class="max-w-[800px] mx-auto">
<div class="prose">
<%= sanitize(
  Commonmarker.to_html(
    <<~MARKDOWN
    ### プライバシーポリシー

    #### 1. はじめに
    Dynawiki（以下「当サービス」）は、ユーザーのプライバシーを尊重し、個人情報の保護に努めています。本プライバシーポリシーは、当サービスにおける情報の収集、利用、および保護に関する方針を説明します。

    #### 2. 個人情報の収集
    当サービスでは、ユーザー登録は不要であり、個人を特定する情報（以下「個人情報」）の収集は行いません。ユーザーは匿名のまま、当サービスを利用できます。

    #### 3. ファイルのアップロード
    ユーザーはファイルをアップロードする機能を利用できますが、アップロードされたファイルはLLMによって解釈された後即座に削除されます。

    #### 4. クッキーの使用
    当サービスは、クッキーを使用してユーザーエクスペリエンスを向上させます。クッキーは、ユーザーのブラウザに保存される小さなデータファイルであり、当サービスの機能を最適化するために利用されます。クッキーの使用に関しては、ユーザーのブラウザ設定で管理することができます。

    #### 5. データの共有
    当サービスは、ユーザーの個人情報を第三者と共有することはありません。ただし、法律に基づく要求がある場合や、当サービスの権利を保護するために必要な場合を除きます。

    #### 6. セキュリティ
    当サービスは、ユーザー情報のセキュリティを確保するために適切な技術的および組織的な措置を講じています。ただし、インターネットを通じた情報伝達の完全な安全性を保証することはできません。

    #### 7. 変更
    本プライバシーポリシーは、必要に応じて変更されることがあります。変更があった場合は、当サービス上で通知されます。ユーザーは定期的に本ポリシーを確認することをお勧めします。

    #### 8. お問い合わせ
    本プライバシーポリシーに関するお問い合わせは、当サービスのサポートチームまでご連絡ください。

    ---

    ### 利用規約

    #### 1. はじめに
    本利用規約（以下「本規約」）は、運営者である [Moeki Kawakami](https://moeki.org) が Dynawiki（以下「当サービス」）の利用に関する条件を定めるものです。ユーザーは、本規約に同意した上で当サービスを利用するものとします。

    #### 2. サービスの提供
    当サービスは、無限に生成されるWikiページを提供します。ユーザーは、自由にページを閲覧し、内容を利用することができます。

    #### 3. ユーザーの責任
    ユーザーは、当サービスを利用する際に以下の行為を行わないものとします。
    - 法令または公序良俗に違反する行為
    - 他者の権利を侵害する行為
    - 不正アクセス、ウイルスの配布、その他の悪意のある行為

    #### 4. ファイルのアップロード
    ユーザーは、ファイルをアップロードする機能を利用できますが、アップロードされたファイルは一時的に保存され、セッション終了時に削除されます。不適切なファイルのアップロードは禁じられています。

    #### 5. 知的財産権
    当サービスに掲載されるコンテンツの知的財産権は、当サービスまたは適法な権利者に帰属します。ユーザーは、コンテンツを無断で複製、転載、改変することはできません。

    #### 6. 免責事項
    当サービスは、提供する情報の正確性や完全性を保証するものではありません。また、当サービスの利用に関連して生じるいかなる損害についても責任を負いません。

    #### 7. 規約の変更
    本規約は、必要に応じて変更されることがあります。変更があった場合は、当サービス上で通知されます。ユーザーは、変更後も引き続き当サービスを利用することによって、変更後の規約に同意したものとみなされます。

    #### 8. お問い合わせ
    本規約に関するお問い合わせは、 [hi@moeki.org](mailto:hi@moeki.org) までご連絡ください。
    MARKDOWN
  )
) %>
</div>
</div>
