<% unless hidden %>

<div class="py-[40px] grid gap-4 grid-cols-2">
  <% page.sources.each do |source| %>
    <% if source.id != page.id %>
      <%= render partial: "pages/relation", locals: { page: source } %>
    <% end %>
  <% end %>
  <% page.destinations.each do |destination| %>
    <% if destination.id != page.id %>
      <%= render partial: "pages/relation", locals: { page: destination } %>
    <% end %>
  <% end %>
</div>

<% end %>
