<div class="max-w-[800px] ">
  <div class="mb-10">
<h1 class="text-3xl mb-2 font-bold">Dynawiki</h1>
<p class="">Dynamic Wiki Experimentation with LLM</p>
</div>
<img src="/demo.gif" class="border rounded mb-4" />
<div class="mb-5 border p-4 rounded bg-white">
<p>DynawikiはLLMによって動的にページが生成されるWikiです。ユーザーが選択したテキストのページをLLMが自動的に作成します。</p>

<p>用途としては主に新しい分野の勉強に良いかと思っていますが、まだ使い方の可能性は未知数です。</p>

<p>またDynawikiではどんな部分でもページとして切り出すことが出来ます。単語でなくても文章でもありです。</p>

<p>現在は、誰でも利用可能なのでぜひいろいろ試してみてください。</p>

<p>まずは下の検索窓からなにか気になるワードを検索するところから始めると良いと思います。</p>
</div>

<form method="POST" action="/search" class="">
  <input type="search" name="q" placeholder="Search" class="border rounded py-1 px-2 mb-3" />
</form>


<% Page.select(:title).distinct.order(title: :desc).each do |page| %>
  <a class="px-4 py-1 rounded hover:bg-slate-50 border bg-white inline-block mb-2" href="/wiki/<%= page.title %>"><%= page.title %></a>
<% end %>
