<div class="max-w-[800px] mx-auto">
  <h2 class="text-3xl mb-2 text-center font-bold">Dynawiki</h2>
<div class="mt-10">
  <%= render "pages/search" %>
</div>

<div class="max-w-[400px] mx-auto mt-10 flex justify-center">
  <iframe class="w-full h-[230px]" src="https://www.youtube.com/embed/3xoTppHgRGc?si=w8ZE5u-2DXaR9LLG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="py-[40px] grid gap-4 grid-cols-2">
  <% @randoms.each do |title| %>
    <%= render partial: "pages/relation", locals: { page: Page.find_or_initialize_by(title:, language_id: @lang.id) } %>
  <% end %>
</div>
