<div class="max-w-[800px]">
  <h2 class="text-3xl mb-2">Dynawiki</h2>

<div class="max-w-[400px] mt-5">
  <p class=""><b>Dynawiki</b> is a wiki site that dynamically generates wiki pages with <b>LLM (ChatGPT)</b>. </p>
  <p class="">You can select text in a page to generate a page for that word.</p>
  <p class="">In other words, it is a wiki with an <b>infinite number of pages</b>.
  <p class="">This may be especially useful when <b>studying something new</b>. Please enjoy it!</p>
</div>

<div class="mt-5">
  <%= render partial: "pages/search", locals: { autofocus: true,  value: "" } %>
</div>
