<div class="max-w-[800px] mx-auto">
  <h2 class="text-3xl mb-2 text-center font-bold">Dynawiki</h2>
<div class="mt-10">
  <%= render partial: "pages/search", locals: { autofocus: true,  value: "" } %>
</div>
