<div class="max-w-[800px] mx-auto">
  <div class="mb-10">
<h1 class="text-3xl mb-2 text-center font-bold">Enjoy infinite pages Wiki!</h1>
<form
  method="POST"
  action="/<%= params[:lang] %>/search"
  data-controller="search"
  data-search-list-value="<%= @pages_json %>"
  data-search-name-value="main-search"
  class="flex justify-center text-lg py-[40px]"
>
  <div class="relative">
    <input type="hidden" name="lang" value="ja">
    <%= render partial: "icons/stars" %>
    <input name="q" id="main-search">
  </div>
</form>
<div class="flex justify-center">
  <ol class="list-inside list-decimal font-bold">
    <li>Enter the word(s) you are interested in</li>
    <li>Read page</li>
    <li>Select the words you are interested in</li>
    <li>Dig or jump to the selected word</li>
  </ol>
</div>
