@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.prose a {
  color: blue;
}

.prose a:hover {
  opacity: 0.7;
}

.prose h2,
.prose h3,
.prose h4 {
  margin-bottom: 12px;
  margin-top: 12px;
}

.prose {
  max-width: 100%;
}

.prose h1 {
  font-size: 1.2rem;
}

.prose h2 {
  font-size: 1.2rem;
}

.main-search_wrapper {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

header .main-search_wrapper * {
  width: 240px;
}

.main-search_wrapper * {
  transition: none;
  width: 300px;
}

.main-search_wrapper > input {
  color: #333;
  border-radius: 1px;
  height: auto;
  padding: 2px;
  background-image: none;
  transition: none;
  color: #333;
  @apply ml-[32px];
}

.main-search_wrapper > input:focus {
  color: #333;
  outline: none;
}

.main-search_wrapper > input::placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  @apply italic;
}

header .main-search_wrapper #autoComplete_list_1 {
  @apply w-[240px];
}

.main-search_wrapper #autoComplete_list_1 {
  @apply absolute top-[36px] bg-white ml-[32px] w-[300px] shadow-lg;
}

header .main-search_wrapper #autoComplete_list_1 li {
  @apply w-[240px];
}

#autoComplete_list_1 li {
  @apply border-b text-[16px] py-1 px-3 w-[300px] truncate;
}

#autoComplete_list_1 li[aria-selected] {
  @apply bg-slate-50;
}

.prose code {
  padding: 2px !important;
  @apply rounded-none;
}

.prose pre {
  padding: 1px !important;
  @apply rounded-none bg-white border border-[#333];
}

.prose pre code {
  display: block;
  color: #333;
  @apply bg-white;
}
